{% for image in images %}
    <div class="col-md-4 bg-white pt-3">
        <a role="button" href="{{ path('remove', {'uuid': image.uuid}) }}" class="btn btn-primary bg-danger float-end">
            ×
        </a>
        <a href="{{ path('image', {'uuid': image.uuid}) }}">
            <img
                alt="{{ image.name }}"
                class="img-fluid img-thumbnail rounded"
                width="640"
                height="480"
                src="{{ path('image', {'uuid': image.uuid}) }}"
            />
            <small class="caption text-nowrap">
                {{ image.name }} ({{ image.uploadedAt }})
            </small>
        </a>
    </div>
{% endfor %}
